#window {
  display: flex;
  flex-direction: row;
}

#divider {
  border: solid black;
  width: 80px;
}

/* Player Style */
.battlefieldSquare {
  background-color: deepskyblue;
  width: 40px;
  height: 40px;
  border: solid black;
  align-content: center;
}
.playField {
  /* border: solid black; */
  display: grid;
  grid-template-rows: repeat(10, 40px);
  grid-template-columns: repeat(10, 40px);
  flex-wrap: wrap;
  flex-direction: row;
  color: deepskyblue;
  grid-area: playField;
}

#xAxisDiv {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-area: xAxisDiv;
}

.xAxisSquare {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: sandybrown;
  border: solid black;
}

#yAxisDiv {
  display: grid;
  grid-template-rows: repeat(10, 40px);
  justify-self: flex-end;
  grid-area: yAxisDiv;
}

.yAxisSquare {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: sandybrown;
  border: solid black;
}

.shipList {
  border: solid black;
}

#playerMenu {
  width: 450px;
}

#playFieldContainer {
  display: grid;
  grid-template-areas:
    " . xAxisDiv"
    "yAxisDiv playField";
}

.shipSummary {
  border: solid black;
}

#placeShipModal {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  border: solid black;
}

#shipSummaryHighlight {
  background-color: green;
}

.battlefieldSquareSelect {
  background-color: black;
}

.battlefieldSquareHighlight {
  background-color: green;
}

#playerContainer {
  margin-right: 100px;
  width: 400px;
}

#messageBoard {
  border: solid black;
}

.messageBoard {
  border: solid black;
}

.deployedShip {
  background-color: silver;
}

/* Bot Style */

#window {
  display: flex;
  flex-direction: row;
}

.botbattlefieldSquare {
  background-color: deepskyblue;
  width: 40px;
  height: 40px;
  border: solid black;
  align-content: center;
}

#botxAxisDiv {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-area: botxAxisDiv;
}

.botxAxisSquare {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: sandybrown;
  width: 40px;
  height: 40px;
  border: solid black;
}

#botyAxisDiv {
  display: grid;
  grid-template-rows: repeat(10, 40px);
  justify-self: flex-end;
  grid-area: botyAxisDiv;
}

.botyAxisSquare {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: sandybrown;
  width: 40px;
  height: 40px;
  border: solid black;
}

#corner {
  width: 40px;
  height: 40px;
  background-color: sandybrown;
  border: solid black;
}

.botplayField {
  /* border: solid black; */
  display: grid;
  grid-template-rows: repeat(10, 40px);
  grid-template-columns: repeat(10, 40px);
  flex-wrap: wrap;
  flex-direction: row;
  color: aqua;
  grid-area: botplayField;
}

.botshipList {
  border: solid black;
}

#botplayFieldContainer {
  display: grid;
  grid-template-areas:
    " . botxAxisDiv"
    "botyAxisDiv botplayField";
  width: 330px;
}

.botshipSummary {
  border: solid black;
}

#botplaceShipModal {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  border: solid black;
}

#botshipSummaryHighlight {
  background-color: purple;
}

.botbattlefieldSquareSelect {
  background-color: black;
}

.botbattlefieldSquareHighlight {
  background-color: blue;
}

.botbattlefieldSquareHitShip {
  background-color: red;
}

.botbattlefieldSquareMissedShip {
  background-color: green;
}

#botContainer {
  margin-right: 100px;
  width: 400px;
}

#botmessageBoard {
  border: solid black;
}

.botdeployedShip {
  background-color: purple;
}
